<?xml version="1.0"?>
<launch>

	<arg name="load_robot_description" default="true"/>
	<arg name="joint_limited" default="false"/>
   <arg name="robot_prefix" default="ursa"/>
   <arg name="gui" default="false"/>
   <arg name="list" default="[$(arg robot_prefix)_joint_states]"/>


   <!--arg name="joint_state_topic" defalut="[ursa_joint_state]"/-->

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <group if="$(arg load_robot_description)">
    <param name="$(arg robot_description)" command="$(find xacro)/xacro --inorder '$(find ursa_apps)/launch/configs/robot/ur10_robot.urdf.xacro' prefix:=$(arg robot_prefix)_ limited:=$(arg joint_limited)" />
  </group>


  <!-- loading the Home position for the UR5 robot -->
  <rosparam command="load" file="$(find ursa_apps)/launch/configs/robot/ur10_zeros.yaml"/>

  <node name="joint_state_publisher_ur10" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="$(arg gui)"/>
    <rosparam unless="$(arg gui)" param="source_list" subst_value="True">$(arg list)</rosparam>
  </node>

  <node name="robot_state_publisher_ur10" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ursa_apps)/launch/configs/robot_ur10.rviz" />


</launch>
